scikit-learn
torch
numpy
einops
albumentations
tqdm
pytest-shutil
wandb
matplotlib
SimpleITK
torchvision
nibabel
scikit-image
easydict
pandas
torchsummary
surface-distance
/data/SimpleITK-build/SimpleITK-build/Wrapping/Python/